export(aloha)
export(amdahl)
export(build_fits_frame)
export(effic)
export(ErlangB)
export(format_legend)
export(gustafson)
export(measured)
export(Nmax)
export(sfit_type)
export(sfit)
export(sflist)
export(sse)
export(sst)
export(usl)
export(usl2)
export(Xmax)
export(xroof)
export(zones_to_frame)
export(zones)
import(lattice)
S3method("[",sflist)
S3method(effic,sfit)
S3method(format_legend,aloha)
S3method(format_legend,amdahl)
S3method(format_legend,gustafson)
S3method(format_legend,sfit)
S3method(measured,sfit)
S3method(measured,sflist)
S3method(Nmax,sfit)
S3method(plot,sfit)
S3method(plot,sflist)
S3method(plot,zones)
S3method(predict,sfit)
S3method(print,sfit)
S3method(sfit_type,sfit)
S3method(sflist,data.frame)
S3method(sflist,sfit)
S3method(sse,sfit)
S3method(sst,sfit)
S3method(Xmax,sfit)
S3method(xroof,amdahl)
S3method(xroof,zones)
S3method(zones_to_frame,zones)
